* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared Style---------------------> */

section{
    max-width: 1152px;
    margin: 0 auto;
}

.theme-text{
    background: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;

}




/* Header Navbar Style */

.navbar {
    max-width: 1152px;
    margin: 30px auto 20px;
    display: flex;
    justify-content: space-between;

}

.header-icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.brand-title {
    font-size: 2.25rem;
    font-weight: 700;
}

.brand-title::first-letter {
    color: #FF42A5;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.nav-link{
    font-size: 0.9rem;
    font-weight: 500;
}

.follow-btn{
    padding: 14px 97px 14px 19px;
    border: none;
    border-radius: 7px;
    background-color: rgba(11, 2, 35, 0.1);
}

/* Header Banner Style */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner h4{
    font-size: 2.37rem;
    font-weight: 600;
}

.banner-title{
    font-size: 4.75rem;
    font-weight: 800;
}

.banner-image-container{
    max-width: 576px;
    max-height: 544px;
}

.banner-image-container img {
    width: 100%;
}
